<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin88.qunlsch">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Sign_up_activity" />
        <activity android:name=".ManHinhChinh_activity" />
        <activity android:name=".fragment.fragment_theloai" />
        <activity android:name=".fragment.fragment_tonkho" />
        <activity android:name=".fragment.fragment_hoadon" />
        <activity android:name=".fragment.fragment_doanhso" />
        <activity android:name=".fragment.fragment_sachbanchay" />
        <activity android:name=".activity_theloai.KinhTeActivity" />
        <activity android:name=".activity_theloai.NgoaiNguActivity" />
        <activity android:name=".activity_theloai.CNTTActivity" />
        <activity android:name=".activity_theloai.AmthucActivity" />
        <activity android:name=".activity_theloai.SucKhoeActivity" />
    </application>

</manifest>